.media-heading {
    color: black;
    font-style: italic;
}

.btn-info {
    background: lightskyblue;
    color: black;
}

.well {
    border-radius: 12px;
    margin-top: 20px;
    opacity: 0.9;
    border-color: transparent;
    
}

h1 {
    color: whitesmoke;
    background: transparent;
    display: inline-block;
    border-radius: 12px;
    padding: 4px;
}

h2, h1 span {
    color: black;
}

body {
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5))  ,url("../assets/droplets.jpg");
    background-size: cover;
}

p {
    color: black;
}

