


.container {
    background: lightskyblue;
    max-width: 1425px;
}


h1, h2 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif
}

h2 {
    font-style: italic;
    color: white;
}

h1 {
    font-weight: bold;
    color: black;
}

.main {
    border: 2px solid darkgray;
}

.sidebar {
    border: 2px solid darkgrey;
}

.main, .sidebar{
    height: 600px;
}

#staffList {
    list-style-type: none;
}

.footer {
    border: 1px solid lightgray;
}

#navbar {
    list-style-type: none;
}

a {
    color: black;
}